@import "src/styles/mixins";
@import "src/styles/colors";

$case-from-border: 1px solid rgba($black, .12);

:host {
  @include border($case-from-border);
  border-radius: 4px;
  display: block;
}

// header
.crm-case-from-header {
  @include padding(0 20px);
  @include flex(center);
  height: 116px;
  cursor: pointer;
  user-select: none;
}

// titles wrapper
.crm-case-from-titles {
  margin-left: 27px;
  user-select: text;
}

// title
.crm-case-from-title {
  @include openSansRegular;
  font-size: 34px;
  line-height: 36px;
}

// sub title
.crm-case-from-sub-title {
  @include robotoRegular;
  font-size: 14px;
  line-height: 20px;
  color: rgba($black, .6);
  margin-top: -2px;
}

// content
.crm-case-from-content {
  @include padding(12px 21px 16px);
  @include borderTop($case-from-border);
  @include flex(flex-start, null, column);
}

// footer
.crm-case-from-footer {
  @include flex(flex-start, space-between);
  @include borderTop($case-from-border);
  @include padding(10px 21px 26px 55px);
}

app-field-checkbox {
  &:not(.checked) {
    ::ng-deep {
      .crm-field-checkbox-label {
        color: rgba($black, .87);
      }
    }
  }
}
