<!-- header -->
<div class="crm-case-from-header">
  <!-- titles -->
  <div class="crm-case-from-titles">
    <!-- title -->
    <div class="crm-case-from-title">
      Other
    </div>
  </div>
</div>

<!-- footer -->
<div
  class="crm-case-from-footer">
  <!-- fields -->
  <div class="crm-case-from-fields">
    <!-- caller name -->
    <div class="crm-case-from-field">
      Caller Name: {{data.callerName}}
    </div>

    <!-- callback number -->
    <div class="crm-case-from-field">
      CallbackNumber: {{data.callbackNumber}}
    </div>
  </div>
</div>
