<!-- use table to display -->
<app-table
  (pagingChanged)="pagingChanged.emit($event)"
  (rowSelected)="rowSelected.emit($event)"
  [columns]="columns"
  [page]="page"
  [rows]="rows"
  [size]="size"
  [total]="total">
  <!-- custom body cell for dates -->
  <!-- termination date -->
  <ng-template
    appCustomBodyCell
    columnProperty="terminationDate"
    let-column="column"
    let-row="row">
    {{(row.data | tableRowData: column.property) | date: 'MM/dd/yyyy'}}
  </ng-template>
</app-table>
