$white: #fff;
$black: #000;
$deep-sky-blue: #05a7e9;
$light-sky-blue: #8FCBFA;
$pacific-blue: #009BDB;
$dodger-blue: #0091FF;
$grey: #757575;
$whisper: #E4E4E4;
$navy-blue: #0078D4;
$nobel: #9E9E9E;
$jade: #00B95F;
$jade2: #00B568;
$red-orange: #f44336;
