@import "colors";
@import "mixins";

button {
  &.mat-flat-button {
    @include openSansBold;

    &.mat-primary:disabled {
      background-color: rgba($black, .38);
      color: $white;
    }
  }

  &.mat-button:not(.mat-primary) {
    @include openSansBold;
    color: $deep-sky-blue;
  }

  &.mat-button, &.mat-flat-button {
    span {
      letter-spacing: 1.3px;
    }
  }
}

mat-form-field {
  &.mat-form-field-should-float {
    mat-label {
      transition: all .1s;
      margin-left: 2px;
    }
  }

  &:not(.mat-form-field-should-float) {
    mat-label {
      transition: all .1s;
      margin-left: 0;
    }
  }

  .mat-form-field-flex {
    height: 67px;
  }

  .mat-form-field-outline {
    .mat-form-field-outline-start {
      border-radius: 4px 0 0 4px;
    }

    .mat-form-field-outline-end {
      border-radius: 0 4px 4px 0;
    }
  }
}

.mat-form-field-appearance-outline {
  .mat-form-field-label-wrapper {
    top: -12px;
  }

  .mat-select-trigger {
    .mat-select-arrow-wrapper {
      transform: translateY(-5%);
    }
  }

  .mat-form-field-wrapper {
    margin: 0 !important;

    .mat-form-field-flex {
      @include padding(0 16px);

      .mat-form-field-outline {
        top: 8px;
      }
    }
  }

  .mat-form-field-infix {
    border-top: 14px solid transparent;
    padding: 12px 0 17px 2px;

    input,
    textarea {
      @include openSansSemiBold;
      font-size: 16px;
      letter-spacing: 0.5px;
    }

    input {
      line-height: 19px;
    }

    textarea {
      line-height: 24px;
    }
  }

  .mat-form-field-subscript-wrapper {
    margin-top: 0;
    top: calc(100% + 3px);
    overflow: visible;

    .mat-error {
      font-size: 12px;
      letter-spacing: 0.4px;
    }
  }
}

.mat-form-field-label-wrapper,
mat-label,
.mat-select-value-text {
  @include openSansSemiBold;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 19px;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
.mat-form-field-label-wrapper,
.mat-form-field-appearance-outline.mat-form-field-can-float
.mat-input-server:focus
+ .mat-form-field-label-wrapper
.mat-form-field-label-wrapper {
  left: 0;

  .mat-form-field-label {
    transform: translateY(-25px) scale(0.75);
    font-weight: 400;
  }
}

.mat-form-field {
  min-width: 0;
}

.mat-error {
  font-size: 12px;
  letter-spacing: 0.4px;
}
