@import "../../../../../styles/colors";

:host {
  display: block;
  user-select: none;

  &.error {
    mat-form-field {
      ::ng-deep {
        // border color
        .mat-form-field-outline {
          [class*='mat-form-field-outline-'] {
            border-color: $red-orange;
          }
        }
      }

      // border top of value selected field's outline gap
      &.mat-form-field-should-float {
        ::ng-deep {
          .mat-form-field-outline {
            .mat-form-field-outline-gap {
              border-top-color: transparent;
            }
          }
        }
      }
    }
  }
}

// form field styles
mat-form-field {
  width: 100%;

  &:not(.mat-form-field-should-float) {
    ::ng-deep {
      // label color
      mat-label {
        color: rgba($black, .38);
      }
    }
  }

  ::ng-deep {
    // border color
    .mat-form-field-outline:not(.mat-form-field-outline-thick) {
      [class*='mat-form-field-outline-'] {
        border-color: $nobel;
      }
    }
  }

  // border top of value selected field's outline gap
  &.mat-form-field-should-float {
    ::ng-deep {
      .mat-form-field-outline:not(.mat-form-field-outline-thick) {
        .mat-form-field-outline-gap {
          border-top-color: transparent;
        }
      }
    }
  }
}
