@import "src/styles/mixins";
@import "src/styles/colors";

:host {
  .crm-case-about-header {
    height: 86px;
    cursor: auto;
  }

  .crm-case-about-titles {
    margin-left: 0;
  }

  .crm-case-about-footer {
    padding-left: 20px;
  }
}

.crm-case-about-field {
  @include openSansSemiBold;
  font-size: 16px;
  line-height: 24px;
  color: $jade2;
}
