<!-- header -->
<div
  (click)="toggleDetail()"
  class="crm-case-about-header">
  <!-- arrows -->
  <app-icon-chevron-up *ngIf="opened"></app-icon-chevron-up>
  <app-icon-chevron-down *ngIf="!opened"></app-icon-chevron-down>

  <!-- titles -->
  <div class="crm-case-about-titles">
    <!-- title -->
    <div class="crm-case-about-title">
      {{data.lastName}} {{data.firstName}}
    </div>

    <!-- relationship -->
    <div class="crm-case-about-sub-title">
      {{data.relationship}}
    </div>
  </div>
</div>

<!-- for opened -->
<ng-container
  *ngIf="opened">
  <!-- content -->
  <div class="crm-case-about-content">
    <!-- field checkboxes -->
    <!-- first name -->
    <app-field-checkbox
      (click)="onFieldChecked('firstName')"
      [checked]="checked.firstName">
      First Name: {{data.firstName}}
    </app-field-checkbox>

    <!-- last name -->
    <app-field-checkbox
      (click)="onFieldChecked('lastName')"
      [checked]="checked.lastName">
      Last Name: {{data.lastName}}
    </app-field-checkbox>

    <!-- relationship -->
    <app-field-checkbox
      (click)="onFieldChecked('relationship')"
      [checked]="checked.relationship">
      Relationship: {{data.relationship}}
    </app-field-checkbox>

    <!-- policy id -->
    <app-field-checkbox
      (click)="onFieldChecked('policyId')"
      [checked]="checked.policyId">
      Policy ID: {{data.policyId}}
    </app-field-checkbox>

    <!-- ssn -->
    <div
      fxLayout="row"
      fxLayoutGap="18px">
      <!-- first 5 ssn -->
      <app-field-checkbox
        (click)="onFieldChecked('ssn')"
        [checked]="checked.ssn">
        SSN: 123 - 45 -
      </app-field-checkbox>

      <!-- last 4 ssn -->
      <app-field-checkbox
        (click)="onFieldChecked('last4ssn')"
        [checked]="checked.last4ssn">
        6789
      </app-field-checkbox>
    </div>

    <!-- date of birth -->
    <app-field-checkbox
      (click)="onFieldChecked('dateOfBirth')"
      [checked]="checked.dateOfBirth">
      DOB: 01/15/1986
    </app-field-checkbox>

    <!-- address -->
    <app-field-checkbox
      (click)="onFieldChecked('address')"
      [checked]="checked.address">
      Address: {{data.address1}}<br/>
      <!-- address line 2 should be displayed when existing -->
      <ng-container
        *ngIf="data.address2 && data.address2 !== '---'">
        {{data.address2}}<br/>
      </ng-container>
      {{data.city}}<br/>
      {{data.state}}<br/>
      {{data.zip}}<br/>
    </app-field-checkbox>
  </div>

  <!-- footer -->
  <div class="crm-case-about-footer">
    <!-- hipaa pathways -->
    <app-basic-hipaa-pathways
      (pathwayValidated)="onValidated()"
      [checked]="checked"
      [selections]="selections"></app-basic-hipaa-pathways>

    <!-- right -->
    <div>
      <!-- create case button -->
      <app-create-case-button
        [disabled]="!pathwayValid"></app-create-case-button>

      <!-- hipaa matrix -->
      <app-hipaa-matrix-button></app-hipaa-matrix-button>
    </div>
  </div>
</ng-container>
